In [1]:
# Dependancies 
import pandas as pd 
from urllib.request import Request , urlopen  
from bs4 import BeautifulSoup as soup

In [2]:
def get_set(url):
    
    req =  Request(url,headers={'User-Agent': 'Mozilla/5.0'})
    uClient =  urlopen(req)
    page_html =  uClient.read()
    uClient.close()
    page_soup = soup(page_html,'html.parser')
    
    
    return page_soup

In [3]:
all_pages = list()
url = 'https://redragonshop.com/collections/keyboard?page='
for count in range(1,3):
    all_pages.append(url + str(count))

In [4]:
## Normal mode ## THis code is shit :( 

def get_all_html(all_pages,url):
    l = list()
    for soups in all_pages:
        l.append(get_set(url))
    
    return l



## List comprenhesion AKA GOD-MODE (pythonic) , this is pretty :)

def get_all_html_god_mode(all_pages):
    
    l = [ get_set(i) for i in all_pages  ]

    return l

In [5]:
different_soups = get_all_html_god_mode(all_pages)

In [6]:
# THis is messy , I'm sure I could have done this better with a nested 

def get_info(different_soups,header,classs,further):
    title_test = list()
    product_names = list()
    for i in range(len(different_soups)):
        title_test.append(different_soups[i].find_all(header, class_=classs))
        for j in range(len(title_test[i])):
            product_names.append(title_test[i][j][further])
    
    return product_names    


## With list comprenhesion 
# I guess you'd start like this but the function works,
# and honestly it's taking me too much time to be more eficient for a 2 day project 

# title_names = [soups.find_all("div", class_="grid-view-item__title")

In [7]:
product_names = get_info(different_soups,'div',"grid-view-item__title",'title')

In [8]:
def get_price(different_soups,span,classs):
    price_test = list()

    product_prices = list()

    final_prices = list()

    for i in range(len(different_soups)):
        price_test.append(different_soups[i].find_all(span, class_=classs))
        for j in range(len(price_test[i])):
            product_prices.append(price_test[i][j])
            final_prices.append(float("".join(filter(lambda d: str.isdigit(d) or d == '.',product_prices[j].text))))

    return final_prices

In [9]:
final_prices= get_price(different_soups,'span','product-price__price')

In [12]:
keyboards = pd.DataFrame(
    {'Product Name ': product_names,
     'Price': final_prices
    })
keyboards

        Product Name   Price
0           VATA K580  57.79
1          VISNU K561  37.99
2           KALA K557  56.99
3   DEVARAJAS K556-RK  59.99
4         SURARA K582  46.99
5           DITI K585  33.29
6      DEVARAJAS K556  56.99
7       SHRAPNEL K589  49.99
8          KALI K577R  57.79
9      PARTRYUSA K570  37.99
10         ANALA K558  56.99
11         SURYA K563  59.99
12    SURARA K582-PRO  46.99

# Let's see if atleast this home-made crawler can be used within the same site with different products

In [13]:
url = 'https://redragonshop.com/collections/mouse'

#get_set('https://redragonshop.com/collections/mouse')




#get_info(different_soups,header,classs,further)

In [14]:
all_pages = list()
url = 'https://redragonshop.com/collections/mouse?page='
for count in range(1,2):
    all_pages.append(url + str(count))

In [15]:
different_soups_2 = get_all_html_god_mode(all_pages) 

len(different_soups_2)

1

In [16]:
product_names_mice = get_info(different_soups_2,"div","grid-view-item__title","title")

In [17]:
product_names_mice

['INVADER M719',
 'COBRA M711',
 'IMPACT M908',
 'MIG M653',
 'MIRAGE2 M690-1',
 'NIRVANA M652',
 'COBRA-FPS M711-FPS']

In [18]:
final_prices_mice= get_price(different_soups_2,'span','product-price__price')

In [19]:
final_prices_mice

[9.99, 19.89, 29.69, 11.99, 14.99, 11.99, 29.99]

In [20]:
mice = pd.DataFrame(
    {'Product Name ': product_names_mice,
     'Price': final_prices_mice
    })
mice

        Product Name   Price
0        INVADER M719   9.99
1          COBRA M711  19.89
2         IMPACT M908  29.69
3            MIG M653  11.99
4      MIRAGE2 M690-1  14.99
5        NIRVANA M652  11.99
6  COBRA-FPS M711-FPS  29.99

# Go throught the whole website

In [21]:
products = ('keyboard','mouse',
                'combo','mouse-pad','headset','gaming-case','gamepad','gaming-chair',
            'gaming-backpack','accessories')

url = 'https://redragonshop.com/collections/'

In [22]:
 def all_prods(url,products):
    all_products = list()
    for prod in products:
        all_products.append(url + str(prod))
    
        if prod == 'keyboard': 
            
            for i in range(1,3):
                all_products.append('https://redragonshop.com/collections/keyboard?page=' + str(i) )
    del all_products[0]
          
    return all_products

In [23]:
all_url = all_prods(url,products)
all_url

['https://redragonshop.com/collections/keyboard?page=1',
 'https://redragonshop.com/collections/keyboard?page=2',
 'https://redragonshop.com/collections/mouse',
 'https://redragonshop.com/collections/combo',
 'https://redragonshop.com/collections/mouse-pad',
 'https://redragonshop.com/collections/headset',
 'https://redragonshop.com/collections/gaming-case',
 'https://redragonshop.com/collections/gamepad',
 'https://redragonshop.com/collections/gaming-chair',
 'https://redragonshop.com/collections/gaming-backpack',
 'https://redragonshop.com/collections/accessories']

In [24]:
for url in all_url: 
    print(url)

https://redragonshop.com/collections/keyboard?page=1
https://redragonshop.com/collections/keyboard?page=2
https://redragonshop.com/collections/mouse
https://redragonshop.com/collections/combo
https://redragonshop.com/collections/mouse-pad
https://redragonshop.com/collections/headset
https://redragonshop.com/collections/gaming-case
https://redragonshop.com/collections/gamepad
https://redragonshop.com/collections/gaming-chair
https://redragonshop.com/collections/gaming-backpack
https://redragonshop.com/collections/accessories

In [25]:
soups = get_all_html_god_mode(all_url)

In [26]:
product_names = get_info(soups,'div',"grid-view-item__title",'title')

In [27]:
product_names

['VATA K580',
 'VISNU K561',
 'KALA K557',
 'DEVARAJAS K556-RK',
 'SURARA K582',
 'DITI K585',
 'DEVARAJAS K556',
 'SHRAPNEL K589',
 'KALI K577R',
 'PARTRYUSA K570',
 'ANALA K558',
 'SURYA K563',
 'SURARA K582-PRO',
 'INVADER M719',
 'COBRA M711',
 'IMPACT M908',
 'MIG M653',
 'MIRAGE2 M690-1',
 'NIRVANA M652',
 'COBRA-FPS M711-FPS',
 'K582-BA COMBO',
 'M652-BA COMBO',
 'P012',
 'P015',
 'P011',
 'P003',
 'P025',
 'H510 ZEUS',
 'MUSES H310',
 'SIREN2 H301',
 'TRITON H991',
 'THUNDER E200',
 'JUPITER G809',
 'C101',
 'GB-100',
 'GC-F008',
 'GC-F006',
 'A103R',
 'A105',
 'A101G',
 'A106']

In [30]:
prices = get_price(soups,'span','product-price__price')

prices

[57.79,
 37.99,
 56.99,
 59.99,
 46.99,
 33.29,
 56.99,
 49.99,
 57.79,
 37.99,
 56.99,
 59.99,
 46.99,
 57.79,
 37.99,
 56.99,
 59.99,
 46.99,
 33.29,
 56.99,
 57.79,
 37.99,
 57.79,
 37.99,
 56.99,
 59.99,
 46.99,
 57.79,
 37.99,
 56.99,
 59.99,
 46.99,
 57.79,
 57.79,
 57.79,
 57.79,
 37.99,
 56.99,
 59.99,
 46.99,
 33.29]

In [29]:
products = pd.DataFrame(
    {'Product Name ': product_names,
     'Price': prices
    })
products

         Product Name   Price
0            VATA K580  57.79
1           VISNU K561  37.99
2            KALA K557  56.99
3    DEVARAJAS K556-RK  59.99
4          SURARA K582  46.99
5            DITI K585  33.29
6       DEVARAJAS K556  56.99
7        SHRAPNEL K589  49.99
8           KALI K577R  57.79
9       PARTRYUSA K570  37.99
10          ANALA K558  56.99
11          SURYA K563  59.99
12     SURARA K582-PRO  46.99
13        INVADER M719  57.79
14          COBRA M711  37.99
15         IMPACT M908  56.99
16            MIG M653  59.99
17      MIRAGE2 M690-1  46.99
18        NIRVANA M652  33.29
19  COBRA-FPS M711-FPS  56.99
20       K582-BA COMBO  57.79
21       M652-BA COMBO  37.99
22                P012  57.79
23                P015  37.99
24                P011  56.99
25                P003  59.99
26                P025  46.99
27           H510 ZEUS  57.79
28          MUSES H310  37.99
29         SIREN2 H301  56.99
30         TRITON H991  59.99
31        THUNDER E200  46.99
32        JUPITER G809  57.79
33                C101  57.79
34              GB-100  57.79
35             GC-F008  57.79
36             GC-F006  37.99
37               A103R  56.99
38                A105  59.99
39               A101G  46.99
40                A106  33.29